*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.god-container{
    background-color: lightgrey;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 20px;
}

.heading{
    font-size: 1rem;
    margin-bottom: 0.2rem;
}
.container{
    height: 100%;
    display: flex;
    /* gap: 20px; same as padding-right of god container */
}
.filters-god-container{
    background-color: white;
    width: 14.5%;
    height: fit-content;
    padding: 8px 8px 20px 8px;
    border-radius: 5px;
}

.filter-heading{
    font-size: 18px;
}

.filter-sub-container{
    padding: 0 20px;
}

.filter-sub-heading{
    text-align: center;
    font-size: 15px;
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 10px;
}

.filter-container-buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button{
    background-color: #c1d797;
    border-radius: 5px;
    height: 30px;
    width: 45%;
    cursor: pointer;
    margin-bottom: 15px;

}

.active{
    background-color: #7cb715;
}

.button:hover{
    background-color: #7cb715;
}

.programs-god-container{
    width: 85.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.program-card{
    width: 25%;
    height: fit-content;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 15px 0px;
    padding-left: 15px; 
}

.program{
    background-color: white;
    padding: 30px 20px 35px 20px;
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.program-img{
    object-fit: contain;
    width: 90%;
    height: 60%;
    background-color: lightgrey;
    align-self: center;
    margin-bottom: 15px;
}

.left {
    position: relative;;
    left: 10px;
}

.program-name{
    color: rgb(69, 69, 166);
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.mission-id{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}
.sub-prop-title{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}
.sub-prop{
    color: grey;
    font-size: 15px
}

.footer{
    text-align: center;
    position: relative;
    bottom: 0.5rem;   
    font-size: 0.9rem;
}

/* Tablet view */

@media (min-width:700px) and (max-width:1024px) {
    .program-card{
        width: 50%;
    }
    .filter-sub-container{
        padding: 0 10px;
    }
    
}

@media (max-width:800px){
    .filter-sub-container{
        padding: 0;
    }

}


@media (max-width:700px) {
    .container{
        display: block;
    }
    .filters-god-container{
        width: 40%;
        margin: 26px auto;
    }
    .programs-god-container{
        display: block;
        width: 40%;
        margin: 26px auto;
    }
    .program-card{
        width: 100%;
        padding-left: 0px;
    }
}


@media (max-width:500px) {
    .filters-god-container{
        width: 60%;
    }
    .programs-god-container{
        width: 60%;
    }
}

@media (max-width:320px) {
    .filters-god-container{
        width: 80%;
    }
    .programs-god-container{
        width: 80%;
    }
}